flask==3.0.3 
flask_login==0.6.3 
flask_session==0.8.0 
flask_wtf==1.2.1 
flask_sqlalchemy==3.1.1 
flask_limiter==3.7.0 
pygments==2.18.0 
pyzipper==0.3.6 
markdown==3.6 
python-markdown-math==0.8 
regex==2024.5.15 
infix==1.2 
yarl==1.9.4 
latex2markdown==0.2.1 
redis==5.0.7 
gunicorn==22.0.0 
pyyaml==6.0.1 
python3-memcached==1.51 
cachetools==5.3.3 
